* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/background/20241007/original/pngtree-low-poly-gaming-city-underwater-cartoon-style-3d-rendered-night-view-picture-image_10799673.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #540453;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ed94e7; 
}

footer {
    text-align: center; 
    padding: 10px 0; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
